.wrapper {
    height: 218px;
}


.header-top {
    height: 42px;
    background-color: #0A59CC;
}

.header-top__right{
    display: flex;
    justify-content: space-around;
}

.header-main {
    height: 123px;
    background-color: var(--primary);
    display: flex;  
}

.header-bottom {
    height: 54px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(156,163,175,.25);
}

.header-main__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    h4{
        font-size: 2.2rem;
        color: var(--white);
        margin-left: 10px;
    }
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.img-logo{
    width: 49px;
    height: 49px;
}

.header-main__container{
    flex-direction: column;
    justify-content: center!important;
    align-items: center;
    padding: auto 0;
}

.header-main__top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.header-main__bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logined{
    display: flex;  
    align-items: center;
    cursor: pointer;
}

.img-login{
    width: 42px;
    height: 42px;
    border-radius: 9999px;
}

.not-login{
    display: flex;  
    align-items: center;
    cursor: pointer;
}

.img-notlogin{
    width: 42px;
    height: 42px;
    border-radius: 9999px;
}

.user-name{
    color: var(--white);
    margin-left: 10px;
}

.category{
    cursor: pointer;
}

.icon-category{
    margin-right: 10px;
}

.item-category{
    font-size: 1.2rem;
}

.header-bottom__link{
    display: flex;
}

.img-link{
    width: 39px;
    height: 39px;
    border-radius: 0;
}

.chat-box{
    position: fixed;
    background-color: var(--primary);
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}

.box-chat__icon{
    color: var(--white);
    font-size: 3rem;
}

.chat{
    position: absolute;
    width: 375px;
    height: 380px;
    background-color: var(--white);
    top: -390px;
    right: 10px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .title{
        font-weight: bold;
        font-size: 2rem;
        display: -webkit-box;
        -webkit-box-orient: vertical ;
        -webkit-line-clamp: 1;
        overflow: hidden;
        margin-top: 30px;
    }

    .message{
        margin-top: 30px;
    }

    .btn-chat{
        margin-top: 80px;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
    }

    .by{
        margin: auto;
        font-size: 1rem;
    }
}

.chat-header{
    margin-top: 20px;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;

    .menu-chat{
        background-color: var(--hover);
        padding: 0px 15px;
        border-radius: 999px;
        margin-left: auto;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chat-exit{
        background-color: var(--hover);
        padding: 8px 10px;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.logo-chat{
    border-radius: 999px;
    width: 42px;
    height: 42px;
}

.form-login{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: #3d3d3e56;
}

.form{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-header{
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #6b7280;

    span{
        cursor: pointer;
    }

    span:nth-child(2){
        margin-right: auto;
        margin-left: 20px;
    }
}

.acctive-tabs{
    color: black;
    display: flex;
}

.close{
    cursor: pointer;
}

.body{
    width: 50%;
    height: 100%;
    margin-top: 20px;
 

    p{
        margin-bottom: 20px;
    }

    input{
        height: 42px;
        border-radius: 4px;
        border: 1px solid grey;
        padding: 10px;

        &:hover{
            border: 2px solid var(--primary);
        }

        &:focus{
            border: 2px solid var(--primary);
            outline: var(--primary);
        }
    }

    input + input{
        margin-top: 15px;
    }

    .password-hide{
        margin: 20px 0;
        color: var(--primary);
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }

    }
}

.form-body{
    display: flex;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.login{
    display: flex;
    flex-direction: column;
}

.register{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 80%;
    width: 100%;

    &::-webkit-scrollbar {
        width: 0px;
      }

    button{
        margin-top: 20px;
    }
}



.hide{
    display: none;
}

.label{
    font-size: 1.4rem;
    margin: 20px auto;
    user-select: none;
}

.login-with{
    margin: auto;

    img{
        width: 36px;
        height: 36px;
        cursor: pointer;
    }

    img + img{
        margin: 0 20px;
    }
}

.img-form{
    width: 400px;
}