.wrapper{
    padding:  5px 30px;
    cursor: pointer;
    border-radius: 4px;
    &:hover{
        background-color: var(--hover);
    }

    a{
        color: black;
        text-decoration: none;
        padding: 0;
    }
}

.icon{
    padding: 0 10px;
}

