.style{
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;

    .title{
        padding-left: 10px;

        &:hover{
            text-decoration: underline;
        }

    }
}
