.wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    height: 250px;
    margin: 10px 0;
    cursor: pointer;
    .title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin: 10px 0;
    }

    &:hover .title{
        text-decoration: underline;
    }
}

.img-product {
    width: 280px;
    min-height: 154px;
    max-height: 154px;
    border-radius: 8px;
    margin: 0 auto;
}

.info{
    margin: 0 5px;
    font-size: 1.4rem;
}

.price {
    font-weight: bold;
}

.price-sale {
    text-decoration: line-through;
    opacity: 0.3;
    font-weight: bold;
    margin: 0 10px;
    z-index: -99999;
}

.sale-per {
    padding: 5px 5px;
    background-color: #dc3545;
    color: var(--white);
    border-radius: 4px;
    font-size: 1.2rem;
}
