.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.image-box{
    border-radius: 8px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-box{
    width: 430px;
    height: 242px;
}

.img-slider{
    width: 430px;
    height: 242px;
    border-radius: 8px;

    .swiper-slide{
        img{
            border-radius: 8px;
        }
    }
    
}


.info-box{
    width: 450px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    a{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    button{
        width: 100%;
        margin-top: 10px;
    }

    .price{
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(156,163,175,.25);

        h3{
            margin-right: 10px;
        }
        
        .icon{
            color: #949BA6;
            margin: 0 5px;
            cursor: pointer;
        }
    }
}

.bold{
    font-weight: bold;
}

.coppon{
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
    padding-bottom: 70px;

    .share{
        display: flex;
    }

    h4{
        font-size: 1.7rem;
    }
    
    
}

.btn{
    width: 50px;
    height: 36px;
    background-color: var(--primary);
    color: white;
    border: none;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
}

.detail{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0 100px;
    margin-top: 50px;
}

.detail-group{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.img-detail{
    width: 651px;
    margin: 20px 0;
}
.featured-products {
    width: 100%;
}

.featured-products__header {
    padding-left: 6px;
    width: 100%;
    .subtitle {
        font-size: 1.4rem;
        opacity: 0.6;
    }
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;
    font-weight: bold;

    button {
        font-weight: 700;
        font-size: 1.4rem !important;
    }
}

.featured-products__list {
    display: flex;
    flex-wrap: wrap;
}

.featured-products__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgba(156, 163, 175, 0.25);
    padding: 10px;
    margin-bottom: 40px;
}

.cmt-box{
    width: 992px;
    height: 114px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;

    &:hover{
        border: 2px solid var(--primary);
    }

    &:focus{
        border: 2px solid var(--primary);
        outline: var(--primary);
    }
}

.cmt-div{
    display: flex;
    flex-direction: column;

    button{
        width: 200px;
        margin-left: auto;
        margin-top: 20px;
    }
}

.box-cmt{
    border-bottom: 1px solid #000;
}

.more{
    color: var(--primary);
    margin-top: 10px;
    cursor: pointer;
}