.wrapper{
    display: flex;
    flex-direction: column;
}

.cmt-main{
    display: flex;
}

.avatar{
    width: 36px;
    height: 36px;
    border-radius: 9999px;
    margin-right: 20px;
}

.cmt-box{
    .line-1{
        span:nth-child(1){
            font-weight: bold;
            margin-right: 20px;
        }
        span:nth-child(2){
            color: green;
        }
    }

    .time{
        font-size: 1.2rem;
        opacity: 0.5;
    }

    p{
        font-size: 1.3rem;
    }
}

.rep{
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: var(--primary);
    cursor: pointer;
}

.rep-box{
    margin: 20px 0 20px 60px;
}